/* classi di layout */

body {
  font-family: 'Edu Tas Beginner', sans-serif;
}

header {
  background-image: url(../img/wall.png);
}

main {
  background-image: url(../img/cork.png);
  padding-bottom: 50px;
}

h1 {
  font-size: 90px;
}

/* utility */

.square-image {
  width: 600px;
  height: auto;
}

.myPadding {
  padding: 18px 18px 0 18px;
  /* Top, right, bottom, left */
}

.myd-none {
  display: block;
}

.font-date {
  font-family: 'Sometype Mono', 'monospace';
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.center-img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.myShadow {
  transition: transform 0.3s ease;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
}

.myShadow:hover {
  transform: scale(1.2) rotate(10deg);
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.9);
  z-index: 1;
  cursor: pointer;
}

.myShadow:hover .myd-none {
  display: none;
}