/* classi di layout */

body {
  font-family: 'Edu Tas Beginner', sans-serif;
}

header {
  background-image: url(../img/wall.png);
}

main {
  background-image: url(../img/cork.png);
}

h1 {
  font-size: 90px;
}

/* utility */

.square-image {
  width: 600px;
  height: auto;
}

.myPadding {
  padding: 18px 18px 0 18px;
  /* Top, right, bottom, left */
}

.font-date {
  font-family: 'Sometype Mono', 'monospace';
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.center-img {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
}