/* classi di layout */

body {
  font-family: 'Edu Tas Beginner', sans-serif;
}

header {
  background-image: url(../img/wall.png);
}

main {
  background-image: url(../img/cork.png);
}

h1 {
  font-size: 80px;
}

/* utility */

.square-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

.myPadding {
  padding: 18px 18px 0 18px;
  /* Top, right, bottom, left */
}